<% include ./partials/header %>
<div class="jumbotron front" >
		<div class="container">
			<h1>YelpCamp</h1>
			<p>Start planning your next trip today!</p>
			<hr>
			<a href="/campgrounds"><button class="btn btn-default btn-lg"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Get Started</button></a>
		</div>
	</div>
<% include ./partials/footer %>
